@import '../../vendor/saade/filament-fullcalendar/resources/css/filament-fullcalendar.css';
@import '../../vendor/filament/filament/resources/css/app.css';

.filament-login-page {
    background-image: url("../../public/YGg4.gif"), url("../../public/storage/layout/desktop/backgroundNoText.png");
    background-position: center;
    background-size: cover;
}

.filament-sidebar-open-button {
    width: 4rem;
}

.filament-sidebar-open-button svg {
    width: 3rem;
    height: 3rem;
}

.fc-event-time {
    visibility: hidden !important;
}

/* Hide dot for all events */
.fc-daygrid-event-dot,
tr .fc-list-event-dot {
    visibility: hidden !important;
}

/* Event text color*/
.fc-event-title{
    color: black;
}

/* Background for main calendar events */
a.type-remainder {
    background: rgba(255, 0, 0, 0.36) !important;
    border: none !important;
}

/* Background for Google events */
a.type-google{
    background: rgba(0, 128, 0, 0.36) !important;
    border: none !important;
}

/* Background for non-link events */
a.type-event {
    background: rgba(0, 0, 255, 0.36) !important;
    border: none !important;
}

/* Day order - event */
td.fc-list-event-title > a[href] {
    color: red !important;
}

/* Day order - remainder */
td.fc-list-event-title:not([href]) {
    color: blue !important;
}

/* Day order - google */
td.fc-list-event-title:not([href]) {
    color: green !important;
}

/* Day grid - event */
a.type-event {
    background: rgba(255, 0, 0, 0.36) !important;
}

/* Day grid - Google event */
a.type-google {
    background: rgba(0, 128, 0, 0.36) !important;
}

/* Day grid - remainder */
a.type-remainder {
    background: rgba(0, 0, 255, 0.36) !important;
}

@media (max-width: 650px) {
    /* Reorder top header to fix mobile view */
    .filament-fullcalendar--calendar .fc-header-toolbar {
        display: flex;
        flex-direction: column !important;
    }

    .filament-fullcalendar--calendar .fc-header-toolbar .fc-toolbar-chunk {
        margin-bottom: 1rem;
    }

    /* Month view - hide the content */
    .fc .fc-daygrid-event-harness-abs {
        position: unset !important;
    }

    /* Event - mobile view */
    a.type-event {
        background: none !important;
        border: none !important;
    }

    a.type-event {
        background: rgba(255, 0, 0, 0.36) !important;
        border: 1px solid rgba(255, 0, 0, 0.36) !important;
        height: 7px !important;
        width: 7px !important;
        border-radius: 50% !important;
        content: "\2022";
        font-size: 4px;
        color: rgba(255, 0, 0, 0.36);
        letter-spacing: 4px;
    }

    /* Remainder - mobile view */
    a.type-remainder {
        background: none !important;
        border: none !important;
    }

    a.type-remainder {
        background: rgba(0, 0, 255, 0.36) !important;
        border: 1px solid rgba(0, 0, 255, 0.36) !important;
        height: 7px !important;
        width: 7px !important;
        border-radius: 50% !important;
        content: "\2022";
        font-size: 4px;
        color: rgba(0, 0, 255, 0.36);
        letter-spacing: 4px;
    }

    /* Remainder - mobile view */
    a.type-google {
        background: none !important;
        border: none !important;
    }

    a.type-google {
        background: rgba(0, 128, 0, 0.36) !important;
        border: 1px solid rgba(0, 128, 0, 0.36) !important;
        height: 7px !important;
        width: 7px !important;
        border-radius: 50% !important;
        content: "\2022";
        font-size: 4px;
        color: rgba(0, 128, 0, 0.36);
        letter-spacing: 4px;
    }

    /* Calendar page fix */
    .filament-global-search {
        display: none;
    }
}
